<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.call %}
        <div class="call-phone"><strong>Call: </strong> 
           <a href="tel:{{ .site.Data.contact.call }}">
          {{ site.data.contact.call }} 
          </a>
    </div>
    {% endif %}
    {% if site.data.contact.text %}
        <div class="call-phone"><strong>Text: </strong> 
           <a href="sms:{{ .site.Data.contact.text }}">
          {{ site.data.contact.text }} 
          </a>
    </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.Data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>
