<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.call %}
        <div class="call-phone"><strong>Call: </strong>
          <a href="tel:{{ .site.data.contact.call | remove: "(" | remove: ")" | remove: "." | remove: " " }}">{{ site.data.contact.call }}</a>       
    </div>
    {% endif %}
    {% if site.data.contact.text %}
        <div class="call-phone"><strong>Text: </strong> 
           <a href="sms:{{ .site.data.contact.text | remove: "(" | remove: ")" | remove: "." | remove: " " }}">
          {{ site.data.contact.text }} 
          </a>
    </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
        
         <a href="{{ site.data.contact.contact_button_link }}" class="button">
          <span class="fa-svg-icon svg-baseline ">
            <svg xmlns="http://www.w3.org/2000/svg"  style="height: 1em;width:1em;display: inline-flex;align-self: center; top: .125em; position: relative;" viewBox="0 0 488 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/></svg>
          </span> Maps
          </a>
        
        <a href="{{ site.data.contact.contact_button_link }}" class="button">
          <span class="fa-svg-icon svg-baseline ">
            <svg xmlns="http://www.w3.org/2000/svg"  style="height: 1em;width:1em;display: inline-flex;align-self: center; top: .125em; position: relative;" viewBox="0 0 1792 1792"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M1585 1215q-39 125-123 250-129 196-257 196-49 0-140-32-86-32-151-32-61 0-142 33-81 34-132 34-152 0-301-259-147-261-147-503 0-228 113-374 113-144 284-144 72 0 177 30 104 30 138 30 45 0 143-34 102-34 173-34 119 0 213 65 52 36 104 100-79 67-114 118-65 94-65 207 0 124 69 223t158 126zm-376-1173q0 61-29 136-30 75-93 138-54 54-108 72-37 11-104 17 3-149 78-257 74-107 250-148 1 3 2.5 11t2.5 11q0 4 .5 10t.5 10z"/></svg>
          </span> Maps
          </a>
        
      </div>
    {% endif %}

   </div>
